@*@model OdontoCred.Models.CadastroCliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CadastroCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoConfirmacaoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoConfirmacaoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoConfirmacaoCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoConfirmacaoCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConfirmacaoCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConfirmacaoCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenhaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplementoResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplementoResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprovanteEnderecoResidencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprovanteEnderecoResidencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprovanteEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprovanteEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplementoComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplementoComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoBancoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoBancoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgenciaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgenciaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RendaMensalCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RendaMensalCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoComprovacaoRendaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoComprovacaoRendaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenteDocumentoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenteDocumentoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersoDocumentoByte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersoDocumentoByte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersoDocumentoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersoDocumentoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoAtividadeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoAtividadeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutrasRendas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutrasRendas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmacaoEmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmacaoEmailCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimentoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimentoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMaeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMaeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoResidencialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoResidencialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvioEmailConfirmacaoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvioEmailConfirmacaoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Negativado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Negativado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CnpjcomercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CnpjcomercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpresaComercialCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpresaComercialCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConfirmacaoCodigoEmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConfirmacaoCodigoEmailCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.digitoAgenciaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.digitoAgenciaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.digitoContaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.digitoContaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
*@